.container {
  width: 100%;
  min-height: 100vh;
  background-color: #3B3B98;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.logo {
  max-width: 350px;
}

.titulo {
  color: #ffff;
  margin: 14px 0;
}

.area-categoria {
  display: flex;
  gap: 14px;
  margin-bottom: 34px;
}

.btn-categoria {
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-frase {
  background-color: #182C61;
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  color: #ffff;
  font-size: 16px;
}

.texto-frase {
  width: 420px;
  background-color: #1B9CFC;
  border-radius: 4px;
  text-align: center;
  padding: 14px 22px;
  margin: 24px 0 16px 0;
  line-height: 150%;
  color: #EAB543; 
  font-style: italic;
  font-size: 18px;
}
